text
Source/plugin_petercashel.ModdersGearbox/obj
Source/.vs
Source/plugin_petercashel.ModdersGearbox/bin
Source/packages
Source/petercashel.ModdersGearboxAPI/bin
Source/petercashel.ModdersGearboxAPI/obj
